.main-menu-m {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.main-menu-m > li > a {
  font-family: Poppins-Medium;
  font-size: 14px;
  color: black;
  line-height: 2.8;
  padding: 8px 20px 8px 20px;
}

.main-menu-m > li {
  color: black;
  position: relative;
}

.top-bar {
  height: 40px;
  background-color: black;
}

.bg1 {background-color: #e66465;}
.bg2 {background-color: #e6e6e6;}
.bg3 {background-color: #222;}
.bg5 {background-color: rgba(0,0,0,0.5);}
.bg6 {background-color: #f2f2f2;}
.bg7 {background-color: #333;}
.bg8 {background-color: #f3f3f3;}
.bg9 {background-color: rgba(255,255,255,0.9);}


.bg3 {background-color: black;}
.bg5 {background-color: rgba(0,0,0,0.5);}
.bg6 {background-color: #f2f2f2;}
.bg7 {background-color: #333;}
.bg8 {background-color: #f3f3f3;}
.bg9 {background-color: rgba(255,255,255,0.9);}

.focus-input1 {
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #e66465;
  left: 0;
  bottom: -2px;
}

.cl2 {color: black;}
.cl3 {color: #666;}
.cl4 {color: #999;}
.cl5 {color: #222;}
.cl6 {color: #888;}
.cl7 {color: #b2b2b2;}
.cl8 {color: #555;}
.cl9 {color: #aaa;}
.cl10 {color: #1d1d1d;}
.cl11 {color: #f9ba48;}
.cl12 {color: #ccc;}


.main-menu > li > a {
  font-family: Poppins-Medium;
  font-size: 14px;
  color: black;
  padding: 5px 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.header-v3 .main-menu > li > a {
  color: #fff;
}
